<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GTM Intelligence{% endblock %}</title>
    <!-- Embed our compiled CSS -->
    <style>{{ style_sheet|safe }}</style>
    <script src="/static/js/htmx.min.js"></script>
</head>
<body class="{{ class_names.container }}">
    <header class="{{ class_names.card }}">
        <h1 class="{{ class_names.title }}">GTM Intelligence Platform</h1>
        <!-- Navigation etc. -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="{{ class_names.card }}">
        <p class="{{ class_names.content }}">&copy; 2024 Your Company</p>
    </footer>
    <!-- Add JS links here -->
    <!-- <script src="/static/js/script.js"></script> -->
</body>
</html> 